* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Suisse Intl, S-CoreDream-3Light, sans-serif;
}

body {
  position: relative;
  padding-bottom: 165px;
  min-height: 100vh;
  color: #484040;

  background-color: #F3F4F5;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  border-bottom: 1px solid #FFC000;
}

.container {
  display: flex;
  height: 100px;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  font-size: 1rem;
  color: #000;
}

.navbar {
  margin-left: auto;
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  font-weight: 1000;
  font-size: 1rem;
  text-transform: uppercase;
  color: #000;
}

.menu a:visited {
  color: #000;
}

.menu a:hover {
  color: #FFC000;
  transition: color 0.5s ease-out;
}

.menu li {
  list-style-type: none;
  margin-right: 40px;
}

.welcoming-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #A5ADB0;
}

.welcoming-page-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

.welcoming-page-text h1,
.welcoming-page-text div {
  margin: 0 20px 0 auto;
  width: 70%;
}

.landing-photo-box {
  position: relative;
  width: 50%;
  height: 100%;
}
.landing-photo-box .photo-box {
  width: 80%;
  position: absolute;
  bottom: 0;
}

.photo-box img {
  width: 100%;
  height: auto;
}

#about-me {
  z-index: 2;
}

.text {
  padding-top: 20px;
  font-size: 14px;
}

.text p {
  padding: 10px 0;
}

.topic {
  font-size: 6rem;
  text-transform: capitalize;
}

.my-page {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.bigBox {
  width: 100vw;
  height: auto;
  margin: auto;
  padding: 90px;
  background-color: #F3F4F5;
}

.textBox {
  padding: 20px 0;
}

h2 {
  font-size: 56px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}

.boxName h3 {
  text-transform: capitalize;
}

.containers {
  display: flex;
  flex-wrap: wrap;
}

.education,
.experience {
  width: 50%;
}

.container-box {
  padding-top: 50px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #FFC000;
}

.education .line {
  width: 85%;
}

.box {
  font-size: 14px;
}

.box .data {
  margin-top: 10px
}

.education {
  padding-right: 20px;
}

.boxName {
  padding-bottom: 5px;
}

.details {
  padding-top: 8px;
}

#certificate {
  display: flex;
  align-items: center
}

.first-children {
  padding-right: 30px;
}

p {
  color: #000;
}

.projects-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 50px;
}

.project-container {
  margin: 50px 20px;
  padding: 60px 40px;
  border-radius: 15px;
  -webkit-box-shadow: -1px 1px 15px 4px rgba(0,0,0,0.52); 
  box-shadow: -1px 1px 15px 4px rgba(0, 0, 0, 0.52);
  background-color: #fff;
}

.project-container .name {
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 25px;
}

.project-box {
  display: flex;
}

.project-box .imgBox {
  width: 100%;
}

.project-box .imgBox img {
  width: 100%;
  height: auto;
}

.project-box .img3 {
  width: 50%;
}

.project-box .descriptionBox {
  padding: 0 30px 30px 30px;
}

.descriptionBox .description h3 {
  text-transform: capitalize;
  padding-bottom: 10px;
}

.description p:nth-child(2) {
  padding-top: 10px;
}

.description p span {
  font-weight: bold;
}

.project-container .line {
  width: 100%;
  margin: 0 auto 50px;
}

footer {
  position: absolute;
  width: 100vw;
  height: auto;
  padding-top: 30px;
  color: #fff;
  background-color: #A5ADB0;
}

footer .contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-box p {
  padding-top: 20px;
  padding-bottom: 45px;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: bold;
  color: #484040;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
  transition: color .4s ease;
}

.contact a i {
  font-size: 2rem;
}

.contact a span {
  padding-left: 15px;
  font-size: 1.1rem;
}

.contact a:hover {
  color: #FFC000;
}

.footer-bottom {
  padding-top: 10px 0;
}

.footer-bottom p {
  text-align: center;
  font-size: 0.9rem;
  margin: 30px 0;
  color: #484040;
}

@media (max-width: 1000px) {
  .welcoming-page {
    flex-direction: column;
  }
  
  .welcoming-page-text {
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .welcoming-page-text h1,
  .welcoming-page-text div {
    width: 50%;
    margin: 0 auto;
  }

  .landing-photo-box {
    margin-left: auto;
    height: auto;
  }

  .photo-box img {
    visibility: hidden;
  }

  .topic {
    font-size: 70px;
  }

  .text {
    width: 100%;
    height: 100%;
  }

  .menu a {
    color: #fff;
  }

  .containers {
    display: flex;
    flex-direction: column;
  }

  .education,
  .experience {
    width: 100%;
  }

  #certificate {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }

  .project-box {
    flex-direction: column;
  }

  .project-box .descriptionBox {
    padding: 30px 0;
  }

  .contact {
    display: block;
  }

  .contact a {
    padding-bottom: 10px;
  }

  .contacts {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
  }

  .author {
    padding: 0;
  }

  .navbar {
    margin: 0;
  }

  .welcoming-page-text h1,
  .welcoming-page-text div {
    width: auto;
  }

  .welcoming-page-text {
    padding: 0;
  }

  .menu a {
    color: #fff;
    font-size: 14px;
  }

  .menu li:nth-child(4) {
    margin: 0;
  }

  .my-page {
    font-size: 20px;
  }

  .bigBox {
    padding: 40px;
  }

  .textBox h2 {
    font-size: 36px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
  }

  .boxName h3 {
    text-transform: capitalize;
  }

  .project-box .img3 {
    width: 100%;
  }

  .education {
    padding-right: 0;
  }

  .education .line {
    width: 100%;
  }
}