@font-face {
  font-family: 'League Spartan Bold';
  src: url(./assets/fonts/LeagueSpartan-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 117px;
  min-height: 100vh;
  font-family: League Spartan Bold, sans-serif;
  color: #484040;

  background-color: #F6F6F6;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  color: #847F7F;
}

.menu a:visited {
  color: #847F7F;;
}

.menu li {
  list-style-type: none;
  margin-right: 40px;
}
